<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/uikit.almost-flat.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/font-awesome.min.css' />

  </head>
  <body>
    {{> header }}

    <script src='/javascripts/jquery-2.2.3.min.js'></script>
    <div class="container">
        {{{body}}}
    </div>

    <script src='/javascripts/uikit.min.js'></script>
  </body>
</html>
